<ion-header>
    <ion-toolbar>
      <ion-img src="assets/icon/logo.png" alt="Learning Platform Logo" slot="start" class="logo-image"
               id="logo-image" (click)="navigate('dashboard')" ></ion-img>

      <ion-button style="margin-left: 10px" color="0 0 12px rgba(0,0,0,.3)" (click)="navigate('dashboard')">Home</ion-button>
      <ion-button color="0 0 12px rgba(0,0,0,.3)" (click)="navigate('users')">Users</ion-button>
      <ion-button color="0 0 12px rgba(0,0,0,.3)" (click)="navigate('courses')">Courses</ion-button>
      <ion-button color="0 0 12px rgba(0,0,0,.3)" (click)="navigate('users-by-role/:role')">Role</ion-button>
      <ion-buttons slot="end">
        <ion-avatar slot="end" (click)="navigateToProfile()">
          <img src="assets/icon/profile.png">
        </ion-avatar>
        <ion-button (click)="onLogout()" style="margin-right: 15px; margin-left: 15px">Logout</ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<app-admin-dashboard></app-admin-dashboard>


<ion-content>
  <router-outlet></router-outlet>
</ion-content>
