/* Ionic colors */
:root {
  --ion-color-primary: #161b22;
  --ion-color-tertiary:  0 0 12px rgba(0,0,0,.3);
}


#logo-image {
  cursor: pointer;
  margin-left: 10px;
  height: 40px;
  width: 50px;
  opacity: 0.8;
  --background: transparent;
}

html, body {
  height: 100%;
  margin: 0;
}

ion-footer {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #131313;
}

ion-searchbar {
  --background: #ffffff; /* Choose a color that fits your theme */
  --placeholder-color: #999999;
  --icon-color: #000000;
  border-radius: 15px; /* Rounded corners for the search bar */
  margin-left: 10px; /* Adjust spacing as needed */
  margin-right: 60px; /* Adjust spacing as needed */
}

ion-avatar {
  --ion-color-primary: #488aff; /* This is just an example, set your own color */
}


ion-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-avatar {
  margin-right: 10px;
  width: 35px;
  height: 35px;
}

