 <ion-toolbar>
      <div class="flex-spacer"></div>
      <ion-buttons slot="start">
        <ion-img src="assets/icon/logo.png" alt="Learning Platform Logo" slot="start" class="logo-image"
                 id="logo-image" routerLink="/admin/dashboard"></ion-img>

        <ion-button routerLink="/admin/dashboard">Home</ion-button>
        <ion-button routerLink="/admin/users">Users</ion-button>
        <ion-button routerLink="/admin/courses">Courses</ion-button>
        <ion-button routerLink="/admin/course-lessons">Lessons</ion-button>
        <ion-button (click)="navigateToUsersByRole(' ')">Users By Role</ion-button>
      </ion-buttons>

      <ion-title>Admin Dashboard</ion-title>
      <ion-buttons slot="end">
        <ion-searchbar placeholder="Search..." (ionInput)="onSearchChange($event.target.value || '')"></ion-searchbar>
        <ion-button (click)="openProfile()">Profile</ion-button>
        <ion-button (click)="logout()">Logout</ion-button>
      </ion-buttons>

      <div class="flex-spacer"></div>
    </ion-toolbar>



  <ion-content>
    <ion-list *ngIf="searchResults && searchResults.length">
      <ion-item *ngFor="let result of searchResults">
        <ion-label>{{ result.type }}: {{ result.term }}</ion-label>
      </ion-item>
    </ion-list>
    <router-outlet></router-outlet>
  </ion-content>
