

/* Ionic colors */
:root {
  --ion-color-primary: #161b22;
  --ion-color-tertiary:  0 0 12px rgba(0,0,0,.3);
}
ion-img {
  height: 40px;
  width: auto;
}

html, body {
  height: 100%;
  margin: 0;
}

ion-footer {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #131313;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  width: 100%;
}

.footer-section {
  display: flex;
  align-items: center;
}

.footer-section h5, .footer-section p, .footer-section a {
  margin: 0 10px;
  color: #ffffff;
  white-space: nowrap;
}

.footer-section h5 {
  font-size: 1em;
}

.footer-section p, .footer-section a {
  font-size: 0.9em;
}

/* Define a breakpoint for smaller screens */
@media (max-width: 768px) {
  ion-toolbar {
    padding: 0 10px; /* Reduce padding */
  }

  ion-button {
    font-size: 0.8rem; /* Reduce font size */
    padding: 5px 10px; /* Reduce padding */
  }

  ion-img {
    margin: 10px 5px; /* Adjust logo margin */
  }

  /* Additional rules for other elements if necessary */
}


