ion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --overflow: auto;
}

.lesson-images ion-img, .lesson-videos video {
  width: 30%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 768px) {
  .lesson-images ion-img, .lesson-videos video {
    width: 90%;
  }
}
