
<div *ngIf="users; else loading" class="user-list-container">
  <h2 style="margin: 25px">All Users</h2>
  <div class="user-card" *ngFor="let user of users">
    <div class="user-info" style="height: 20px">
      <ion-avatar>
        <img class="user-avatar" [src]="user.avatarUrl"   *ngIf="user.avatarUrl" />
      </ion-avatar>
      <div class="user-details">
        <span class="user-name">{{ user.fullname  }}</span>
      </div>
    </div>
    <div class="user-actions">
      <button (click)="viewDetails(user.id)" class="user-button details-button">Details</button>
      <button (click)="updateUser(user.id)" class="user-button update-button">Update</button>
      <button (click)="deleteUser(user.id)" class="user-button delete-button">Delete</button>
      <button (click)="getUsersByRole(user.role)" class="user-button role-button">Get by Role</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading users...</p>
</ng-template>
