<ion-toolbar>
  <div class="flex-spacer"></div>

  <ion-buttons slot="start">
    <ion-img src="assets/icon/logo.png" alt="Learning Platform Logo" slot="start" class="logo-image"
             id="logo-image" routerLink="/student/dashboard"></ion-img>
    <ion-button routerLink="/student/all-courses">All Courses</ion-button>
    <ion-button routerLink="/student/users">Users</ion-button>
  </ion-buttons>

  <ion-title>Student Dashboard</ion-title>

  <ion-buttons slot="end">
    <ion-searchbar placeholder="Search..."></ion-searchbar>
    <ion-button (click)="openProfile()">Profile</ion-button>
    <ion-button (click)="logout()">Logout</ion-button>
  </ion-buttons>

  <div class="flex-spacer"></div>
</ion-toolbar>



<ion-content>
  <router-outlet></router-outlet>
</ion-content>
