<ion-content>
  <ion-button (click)="createCourse()">Create New Course</ion-button>

  <ion-list>
    <div class="courses-container">
      <div class="course" *ngFor="let course of courses" (click)="navigateToLessons(course.id)">
        <img [src]="course.courseImgUrl" alt="{{ course.title }}">
        <div class="course-info">
          <h3>{{ course.title }}</h3>
          <p>{{ course.description }}</p>
        </div>
        <ion-button class="update-btn" (click)="updateCourse(course.id, $event)">Update</ion-button>
        <ion-button class="delete-btn" (click)="deleteCourse(course.id, $event)">Delete</ion-button>
      </div>
    </div>
  </ion-list>
</ion-content>
