.reset-password-form {
  --background: #0d1117;

  .login-form {
    max-width: 340px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background: #161b22;
    box-shadow: 0 0 12px rgba(0,0,0,.3);

    ion-list-header {
      --background: #161b22;
    }

    ion-item {
      --background: #0d1117;
      --placeholder-color: #8b949e;
      --color: #c9d1d9;
      --padding-start: 0;
      --inner-padding-end: 0;
      --border-color: #30363d;
      margin-bottom: 8px;
      border-radius: 10px;

      ion-label {
        color: #c9d1d9;
        margin: 10px;
        position: floating;
      }

      ion-input {
        color: #c9d1d9;
        margin-left: 10px;
      }
    }

    ion-button {
      --background: #238636;
      --background-activated: #2ea043;
      expand: block;
    }

    .header-title {
      font-size: 20px;
      class: "ion-text-center";
    }
  }
}
