
<ion-content>
<div *ngIf="courses">
  <h1 class="course-title">{{ courses.title }}</h1>

  <div class="card-container" *ngIf="courses.lessons?.length" >
    <h2>Lessons</h2>
    <div class="card" *ngFor="let lesson of courses.lessons" (click)="navigateToLesson(courses.id, lesson.id)">
      <div class="card-header">
        <h3>{{ lesson.title }}</h3>
      </div>
    </div>
  </div>
  <div *ngIf="!courses.lessons?.length">
    <p>No lessons available.</p>
  </div>
</div>
  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToCreateLesson()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>
