ion-searchbar {
  --background: #ffffff;
  --color: #000000;
  --placeholder-color: #999999;
  --icon-color: #000000;
  --border-radius: 30px;
  margin-left: 10px;
  margin-right: 60px;
  text-align: left;
}
